@import "tailwindcss";

body {
  font-family: var(--font-outfit);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-outfit {
  font-family: var(--font-outfit);
}

.font-lato {
  font-family: var(--font-lato);
}

.text-mainColor {
  /* color: #1ecb15; */
  color: #34a0de;
}

.hover-text-mainColor:hover {
  color: #34a0de;
}

.bg-mainColor {
  /* background-color: #1ecb15; */
  background-color: #2d99d8;
}

.bg-secondColor {
  /* background-color: #1ecb15; */
  background-color: #34a0de;
}

.border-mainColor {
  border-color: #34a0de;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}